:root {
    --dark-color: #010113;
  }

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark-color);
}


.body{
    margin:0;
    padding:0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark-color);
}

.big-heart {
    height: 10rem;
    width: 10rem;
    background-color:#FF9BF1;
    position: relative;
    transform: rotate(45deg);
    box-shadow: -20px  20px 10rem #FF9BF1;
    animation: palpitar 0.5s linear infinite alternate;
    
}
.contenido {
     position: fixed;
     margin-bottom: 50px;
     text-align: center;
     
}
h1 {
    color: white
}
h2 { color : white
}

@keyframes palpitar{
    0%{
        transform: rotate(45deg) scale(1.10);
    }
    80%{
        transform: rotate(45deg) scale(1.0);
    }
    100%{
        transform: rotate(45deg) scale(0.8);
    } 
}
.big-heart::before{
    content: "";
    position: absolute;
    height: 10rem;
    width: 10rem;
    background: #FF9BF1;
    top: -50%;
    border-radius: 50%;
    box-shadow: 10px  20px 10rem #FF9BF1;
}
.big-heart::after{
    content: "";
    position: absolute;
    height: 10rem;
    width: 10rem;
    background: #FF9BF1;
    right: 50%;
    border-radius: 50%;
    box-shadow: 20px  20px 10rem #FF9BF1;
}
